.orang-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 1000;

    overflow: auto;
}

.orang-modal-body{
    padding: 2rem;
    background: #fff;
    margin: 4rem;
}

.orang-modal-background{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: #000;
    opacity: 0.75;

    z-index: 900;
}

body.orang-modal-open{
    overflow: hidden;
}